#titre
    display: inline-block
    margin:0 auto
    border-bottom: 3px solid black
    padding-bottom: 10px
    font-size:16px

p
    padding: 10px
    text-align: justify
    display: inline-block
    margin: 0 auto // Centre l'élément horizontalement
