h2
    display: inline-block
    margin:0 auto
    border-bottom: 3px solid black
    padding-bottom: 20px
    
p
    padding: 10px
    text-align: justify
    display: inline-block
    margin: 0 auto
    color: #7D7987

div
  display: grid
  gap: 20px
  justify-content: center
  align-items: start
  padding: 40px
  max-width: 1200px
  margin: 0 auto