.switch-container
  display: flex
  align-items: center
  justify-content: space-between
  width: 150px  // Ajuste selon tes besoins
  margin: auto
  margin-top: 20px

.arrow
  background: transparent
  border: none
  font-size: 1.8em
  color: #3a71d1
  cursor: pointer
  transition: transform 0.2s ease-in-out

  &:hover
    transform: scale(1.2)
    color: #2a5dab

.spacer
  width: 50px  // Espace entre les boutons