
.text-content
  display: flex
  flex-direction: column
  justify-content: flex-start
  margin:auto

h2
  font-size: 48px
  font-weight: bold

p
  font-size: 1.2em
  color: #7D7987
  line-height: 1.5
  max-width: 400px
  margin-bottom: 1.5em

button
    
  background-color: #458ff6
  color: white
  font-size: 1em
  padding: 10px 20px
  border: none
  border-radius: 50px
  cursor: pointer
  transition: background 0.3s

  &:hover
    background-color: #357ae8
