
.text-content
  display: flex
  flex-direction: column
  justify-content: flex-start
  margin:2.5%

h1
    font-size: 2.5em
    font-weight: bold
    color: #333

p
    font-size: 1.2em
    color: #666
    line-height: 1.5
    max-width: 400px
    margin-bottom: 1.5em

button
    
    background-color: #458ff6
    color: white
    font-size: 1em
    padding: 0.8em 0.5em
    border: none
    border-radius: 50px
    cursor: pointer
    transition: background 0.3s

    &:hover
      background-color: #357ae8
