.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  
    button {
      background: #226603;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background 0.2s ease-in-out;
  
      &:hover {
        background: #2f8109;
      }
  
      &:disabled {
        background: #ccc;
        cursor: not-allowed;
      }
    }
  }