.form-group {
    width: max-content;
    padding: 2%;
    margin: 3%;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #6200ea;
    outline: none;
    box-shadow: 0 0 0 2px rgba(98, 0, 234, 0.2);
}



.error-messages {
    width: 100%;
    color: #d32f2f;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.hidden {
    display: none;
}