.footer-content
    max-width: 1200px
    margin: 0 auto
    display: flex
    justify-content: space-between
    gap: 80px
    padding: 0 4em

    @media screen and (width <= 600px)
        flex-direction: column
        gap: 30px
        padding: 0 1em 