.travel-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  height: max-content;
  width: 400px;
  gap: 5%;
  margin: auto;
  
 .info{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 5%;
 }
  
  h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 8px;
  }

  p {
    font-size: 1.2em;
    color: #555;
  }
  
  button {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.2s ease-in-out;
    margin-top: auto;
    align-self: center;
    margin: auto;
    
    &:hover {
      background: #e63939;
    }
  }
  
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  img {
    width:35%;
    height: 6em;
    align-items: center;
    vertical-align: middle;
    margin: auto;
    margin-right: 5%;
    border-radius: 20%;
  }
}
