div  
  display: grid
  gap: 20px
  justify-content: center
  align-items: center
  padding: 40px
  max-width: 1200px
  margin: auto

button 
  background-color: #458ff6
  color: white
  font-size: 1em
  padding: 10px 20px
  border: none
  border-radius: 50px
  cursor: pointer
  transition: background 0.3s