<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  
    <app-book-form label="Titre" id="title" [control]="formControl('title')" type="text"></app-book-form>
  
    <app-book-form label="Auteur" id="author" [control]="formControl('author')" type="text"></app-book-form>
  
    <app-book-form label="Description" id="description" [control]="formControl('description')" type="textarea"></app-book-form>
  
    <button type="submit" [disabled]="bookForm.invalid" >Créer le livre</button>
  
  </form>
  